
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-fonte: #ECECEC;
    --cor-copyright: #939393;
}

body {
    background-color: black;
    color: var(--cor-fonte);
    font-family: "Montserrat", sans-serif;
}

.pading_section {
    padding-left: 6vw;
    padding-right: 6vw;
  }

/* COMEÇO DO HEAD */

.hero {
   
    display: flex;
    width: 100%;
    height: 72px;
    justify-content: center;
    align-items: center;
}

.hero__nav {
   
    display: flex;
    height: 72px;
    width: 75%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 16,38%;
    padding-right: 16,38%;
    
}

.nav__item {
    font-weight: bold;
    font-size: 16px;
    color: var(--cor-fonte);
}

.trailer {
    text-decoration: none;
    color: initial;
}

.item__team {
    border: 3px solid white;
    border-radius: 15px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
}

.nav__item:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* FIM DO HEAD */

/* COMEÇO DO BODY */

.main__container__jogo {
    padding-top: 0;
    width: 100%;
    height: 1216;
    background-image: url(../images/Silksong-jogo-06.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.container__jogo__caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 168px;
    margin-bottom: 60px;
}

.jogo__caixa__container1 {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    
}

.container1__titulo {
    font-family: Helvetica, sans-serif;
    font-size: 17.33px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 30px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.container1__logo {
    width: auto;
    height: 300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogo__container1__logo__image {
    width: 100%;
    height: 100%;
}

.jogo__caixa__container2 {
    margin-top: 60px;
    width: auto;
    height: 472px;
    max-height: 472px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.jogo__container2__image {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: -4px 0px 8px rgba(255, 255, 255, 0.5);
    box-shadow: 0px -4px 12px rgba(255, 255, 255, 0.6);
}

.main__container__plataforma {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.container__plataforma__empresas {
    margin-top: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.plataforma__empresas__images {
    width: 15%;
}

.main__container__historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1464px;
    margin-top: 25px;
    gap: 25px;
    margin-bottom: 25px;
}

.container__historia__titulo {
    font-size: 48px;
    font-family: Helvetica, sans-serif;
    color: var(--cor-fonte);
    margin-top: 10px;
    margin-bottom: 20px;
}

.container__historia__caixa {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 398px;
    margin-top: 20px;
    margin-top: 20px;
    /* gap: 20px; */
}

.historia__caixa__texto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    border-radius: 25px;
    box-shadow: -4px 0px 8px rgba(255, 255, 255, 0.6);
    box-shadow: 0px -4px 12px rgba(255, 255, 255, 0.6);
}

.caixa__texto__titulo {
    text-align: center;
    margin-bottom: 8px;
}

.caixa__texto__conteudo {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.historia__caixa__imagem {
    max-width: 40%;
    height: 372px;
}

.imagem__img {
    height: 100%;
    width: 100%;
}

.main__container__screenshots {
    width: 100%;
    max-height: 497px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.screenshots__img {
    width: 60%;
    max-height: 398px;
}

/* FIM DO BODY */

/* COMEÇO DO FOOTER */

.footer {
    padding-top: 50px;
    width: 100%;
    max-height: 393;
}

.footer__main {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    gap: 24px;
}

.footer__main__caixa {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    max-height: 282px;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
}


/* essa classe vai ficar como uma lembrança do meu tempo perdido tentando resolver e */
/* da raiva que eu senti não sabendo o problema */
/* .footer__main__caixa {
    max-width: 180px;
    max-height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
} */

.main__caixa__titulo {
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.main__caixa__devs{
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    gap: 14px;
}

.main__caixa__devs__conteudo{
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    gap: 4px;
}

.caixa__devs__conteudo__nome {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

.main__caixa__contato {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    gap: 10px;
}

.main__caixa__email {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

.footer__copyright {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

.main__caixa__endereco {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    gap: 16px;
}

.caixa__endereco__cidade {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

.main__caixa__social {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    gap: 16px;
}

.caixa__social__redes {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    gap: 6px;
}

.main__caixa__redes {
    color: var(--cor-fonte);
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}

/* eu fui vencido pela imagem
não consegui colocar ela no fim do footer */

.eu__tentei {
    max-width: 138px;
    max-height: 105px;
}

.main__caixa__logo {
    max-width: 138px;
    max-height: 105px;
}