
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-fonte: #ECECEC;
    --cor-copyright: #939393;
}

body {
    background-color: black;
    color: var(--cor-fonte);
    font-family: "Montserrat", sans-serif;
}

/* COMEÇO DO HEAD */

.hero {
   
    display: flex;
    width: 100%;
    height: 72px;
    justify-content: center;
    align-items: center;
}

.hero__nav {
   
    display: flex;
    height: 72px;
    width: 75%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 16,38%;
    padding-right: 16,38%;
    
}

.nav__item {
    font-weight: bold;
    font-size: 16px;
    color: var(--cor-fonte);
}

.trailer {
    text-decoration: none;
    color: initial;
}

.item__team {
    border: 3px solid white;
    border-radius: 15px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
}

.nav__item:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* FIM DO HEAD */

/* COMEÇO DO BODY */

.main__container__jogo {
    padding-top: 0;
    width: 100%;
    height: 1216;
    background-image: url(../images/Silksong-jogo-06.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.container__jogo__caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 168px;
    margin-bottom: 60px;
}

.jogo__caixa__container1 {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    
}

.container1__titulo {
    font-family: Helvetica, sans-serif;
    font-size: 17.33px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 30px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.container1__logo {
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogo__container1__logo__image {
    width: 100%;
    height: 100%;
}

.jogo__caixa__container2 {
    margin-top: 60px;
    width: 875px;
    height: 472px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.jogo__container2__image {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: -4px 0px 8px rgba(255, 255, 255, 0.5);
    box-shadow: 0px -4px 12px rgba(255, 255, 255, 0.6);
}


